@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  width: 375px;
  height: 6100px;
  background: #fff;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.navbar {
  position: absolute;
  background: #3c3a39;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

.navbar li a {
  display: block;
  padding: 15px 5px;
}

.logo {
  margin: 1rem 1rem;
}

.fa-bars {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 1.8rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  height: 590px;
  left: 0;
  top: 92px;
  background: #1c1a19;
  width: 375px;
}

.hero-bg-img {
  position: absolute;
  left: 64.74%;
  top: 51%;
}

.hero-highlight-1 {
  color: #ff6b00;
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 10px;
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.hero-highlight-2 {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 1rem;
}

.hero-highlight-3 {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-icons {
  font-size: 20px;
  letter-spacing: 0.8rem;
  display: flex;
  color: white;
  margin-top: 1.2rem;
}
