* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navbar {
  position: fixed;
  background: rgba(62, 60, 60, 1);
  display: flex;
  display: inline-block;
  width: 100%;
  height: 92px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar li a {
  display: block;
  padding: 15px 5px;
}
.logo {
  margin: 1rem 1rem;
}
.fa-bars {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 1.8rem;
}
.header-container {
  display: flex;
  background: rgb(28, 26, 25);
  min-height: 100vh;
  padding-top: 4rem;
  margin: 0 auto;
  max-width: 100%;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.sub-container {
  width: 90%;
  margin: 9rem 2em;
}
.header-highlight-1 {
  color: rgba(255, 107, 0, 1);
  font-family: Crete Round;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: 1rem;
}
.header-highlight-2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 245, 225, 1);
  margin-top: 1rem;
}
.header-highlight-3 {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 245, 225, 1);
  margin-top: 1rem;
}
.social-icons {
  font-size: 20px;
  letter-spacing: 0.6rem;
  display: inline-block;
  color: white;
  margin-top: 1.2rem;
}
